<style>

 	div>div {
		border: 1px solid black;
		margin: 10px;
		padding: 20px;
		font-size: 20px;
	}

	div>div:hover {
		color: white;
		background-color: black;
	}

	div>p {
		font-size: 20px;
		font-weight: 700;
	}

	span {
		font-size: 1em;
		background-color: lightred;
		color: darkred;
    margin: 15px;
    position: absolute;
	}
</style>
<form #frm="ngForm">
	<input type="text" name="name"
         [(ngModel)]="product.name"
         #nameRef="ngModel"
         required
         pattern="^[A-Z].*$"
         placeholder="Name...">

		<span *ngIf="nameRef.errors?.required && nameRef.touched">Required!!!!</span>
		<span *ngIf="nameRef.errors?.pattern && nameRef.touched">Fist letter must be uppercase</span>

	<br>
	<input type="number" name="price"
         [(ngModel)]="product.price"
         #priceRef="ngModel"
         required
         placeholder="Price...">
	<span *ngIf="priceRef.errors?.required && priceRef.touched">Required!!!!</span>
	<br>
	<input type="number" name="stock"
         [(ngModel)]="product.stock"
         #stockRef="ngModel"
         required
         placeholder="Stock...">
	<span *ngIf="stockRef.errors?.required && stockRef.touched">Required!!!!</span>
	<br>
	<button (click)="addProduct()">Add Product</button>
</form>
<hr>
<div style="margin: 20px;display: flex;text-align : left">
	<div hidden>
		<p><u>#frm</u></p>
		<ol>
			<li>valid: {{ nameRef.valid }} / invalid: {{ nameRef.invalid}} </li>
			<li>pristine: {{ nameRef.pristine }} / dirty: {{ nameRef.dirty}} </li>
			<li>touched: {{ nameRef.touched}} / untouched: {{ nameRef.touched }} </li>
		</ol>
	</div>
  <div>
		<p><u>#nameRef</u></p>
		<ol>
			<li>valid: {{ nameRef.valid }} / invalid: {{ nameRef.invalid}} </li>
			<li>pristine: {{ nameRef.pristine }} / dirty: {{ nameRef.dirty}} </li>
			<li>touched: {{ nameRef.touched}} / untouched: {{ nameRef.touched }} </li>
		</ol>
	</div>
	<div>
		<p><u>priceRef</u></p>
		<ol>
			<li>valid: {{ priceRef.valid }} / invalid: {{ priceRef.invalid}} </li>
			<li>pristine: {{ priceRef.pristine }} / dirty: {{ priceRef.dirty}} </li>
			<li>touched: {{ priceRef.touched}} / untouched: {{ priceRef.touched }} </li>
		</ol>
	</div>
	<div>
		<p><u>stockRef</u></p>
		<ol>
      <li>CSS classes: {{ stockRef.className + "*" }}</li>
			<li>valid: {{ stockRef.valid }} / invalid: {{ stockRef.invalid}} </li>
			<li>pristine: {{ stockRef.pristine }} / dirty: {{ stockRef.dirty}} </li>
			<li>touched: {{ stockRef.touched}} / untouched: {{ stockRef.touched }} </li>
		</ol>
	</div>
</div>