<!--  1. -->
<!-- 
<a href="#">Home</a>
<a href="#">Products</a>
<a href="#">About</a>
<a href="#">Help</a> 
-->
<!-- 2. -->
<!-- creates a round trip -->
<!-- we want to eliminate it -->
<!-- 
<a href="home">Home</a>
<a href="products">Products</a>
<a href="about">About</a>
<a href="help">Help</a> 
-->
<!-- 3. -->
<!-- <a routerLink="home">Home</a>
<a routerLink="products">Products</a>
<a routerLink="about">About</a>
<a routerLink="help">Help</a> -->
<!-- 3a. -->
<a routerLink="home" routerLinkActive="active-link">Home</a>
<a routerLink="products" routerLinkActive="active-link">Products</a>
<a routerLink="about" routerLinkActive="active-link">About</a>
<a routerLink="help" routerLinkActive="active-lLink">Help</a>